<% include partials/header %>
<br><br>
<div class="container">
	<center>
		<img src="/public/images/emer.png" id="sosbtn" class="sosbtn">
	</center>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#sosbtn').on('click', function(e) {
			$.ajax({
				url: '/',
				method: 'POST',
				dataType: 'json',
				success: (result) => {
				    $(".container").html(result)
				}
			}).done(function (data) {
				console.log(data);
				$("#sosbtn").addClass('hide');
			}).fail(function (error) {
				alert("Message Sent! Check your logs!");
				console.log(JSON.stringify(error));
			});
		});
	});

</script>

<% include partials/footer %>