<% include partials/header %>
<br><br>
<div class="container">
<center>
	<img src="/public/images/emer.png" class="sosbtn">
	<br>
</center>
	<div class="submit-phone hide">
		<form id="contactForm" role="form">
			<div class="form-group">
				<label for="phoneNumber">Phone Number</label>
				<input type="text" id="phoneNumber" class="form-control">
				<button class="btn btn-default" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div><!-- /.container -->

<script type="text/javascript">
	$(document).ready(function(){
        $('#contactForm').on('submit', function(e) {
            e.preventDefault();

            $.ajax({
                url: '/',
                method: 'POST',
                dataType: 'json',
                data: {
                    phoneNumber: $('#phoneNumber').val(),
                }
            }).done(function (data) {
                alert(data.message);
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        });

		$(".sosbtn").click(function(){
	         $(".submit-phone").removeClass('hide');
		});
	});

</script>

<% include partials/footer %>